MONGODB_URI=
NEXT_PUBLIC_SITE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# GFORM BUG REQUEST

GOOGLE_FORM_ACTION_URL=
GOOGLE_FORM_ENTRY_EMAIL="
GOOGLE_FORM_ENTRY_ISSUE=
GOOGLE_FORM_ENTRY_TYPE=

NETLIFY_AUTH_TOKEN=
NETLIFY_SITE_ID=

NEXT_PUBLIC_URMS_EXTENSION_DEV_IDS = 